@model List<Book>
@{
    ViewBag.Title = "Book List";
}

<h2>List of @ViewBag.Genre Books</h2>
@foreach (var b in Model)
{
    @:Title: @b.Title <br />
    @:Published: @b.Date.ToString("yyyy") <br />
    @:Genre: @b.Genre <br />
    foreach (var a in b.Authors)
    {
        @:Author: @a.Name <br />
    }
    <h3>Reviews</h3>
    <!--TODO Change to a for loop to improve performance-->
    foreach (var r in b.BookReviews)
    {
        <p>
            @r.Body <span>Rating: </span>@r.Rating<br />
            <span>Reviewed by: </span>@r.BookReader.UserName
        </p>
    }
    <p>
        @Html.ActionLink("Add a review", "ReviewForm", "Review",
    new { Title = b.Title, Id = b.BookId })
    </p>
    <hr />
}