@model List<BookInfo.Models.Book>
@{
    ViewBag.Title = "Book List";
}

<h2>List of @ViewBag.Genre Books</h2>
@foreach (var b in Model)
{
    @:Title: @b.Title <br />
    @:Published: @b.Date.ToString("yyyy") <br />
    foreach (var a in b.Authors)
    {
        @:Author: @a.Name <br />
    }
    @:Genre: @b.Genre <br /><br />
}